
body {
	background: #000;
}


p {
	position:relative;
	bottom:4000px;
	left:700px;
}



img {
	position:relative;
	left:400px;
	bottom:4000px;
}

.ui.secondary.menu {
	width:1100px;
	position:relative;
	left:400px;
	bottom:4030px;
}
.ui.segment {
	position:relative;
	bottom:3970px;
	color:#ECC673;
	padding:.1em;
	width:1100px;
	left:400px;
}
/**a {
	background-color:black;
**/
.ui.menu .item {
	font-size:1.2rem;
}
.ui.menu .item, .ui.menu .item>a:not(.button) {
	color:#ECC673;
}

.ui.input {
	color:#ECC673;
}

.gifs {
	position: relative;
	left:685px;
	width:550px;
	height:550px;
}


.middle	{
	background:#686159;
	width:1100px;
	height:4000px;
	position:relative;
	left:400px;
}
.ui.input.new {
position:relative;
bottom:4000px;
left:850px;

}


/** media quuries **/
/* Mobile */
@media screen and (min-width: 320px) {


}
/* Tablet */
@media screen and (min-width: 768px) {
	/**body {
		background-color:red;**/

}


/* Desktop */
@media screen and (min-width: 1140px) {

/**body {
		background-color:green;**/
	
}
